body{
    margin:0;
    font-family: Inter,sans-serif;
  
}
.roarmedia{
    border-bottom:.5px solid #F2F2F7;
   
    height:70px;
}
.roarmedia1{
   width:40%;
   
    float:left;
    height:70px;
}
.roarmedia1 h2 img{
    
    margin-left: 50px;
    margin-top: -6px;
    
}
.roarmedia2{
    width:15%;
    
    border-left:.5px solid #F2F2F7;
    border-right:.5px solid #F2F2F7;
    float:left;
    height:70px;
    font-size: 20px;
}
.roarmedia2 i{
    margin-top:22px;
    margin-right:5px;
}
.roarmedia2 a{
    margin-left:70px;
    color:rgba(59, 59, 58, 0.904);
    text-decoration:none;
    text-transform: capitalize;
}
 .roarmedia3{
    width:8%;
   
    float:left;
    height:70px;
}
 .roarmedia3 i{
     font-size: 25px;
     margin: 19% 39%;
     color:rgba(59, 59, 58, 0.904);
 }
 .roarmedia4{
    width:16%;
    border-left:.5px solid #F2F2F7;
    border-right:.5px solid #F2F2F7;
    float:left;
    height:70px;
}
.roarmedia4 a span{
    float: right;
    margin-top: 27px;
    margin-right: 20px;
    color:rgba(59, 59, 58, 0.904);
    font-size: 15px;
 }
 
 .roarmedia5{
    width:16%;
    border-right:.5px solid #F2F2F7;
    float:left;
    height:70px;
 }
 .roarmedia5 a i{
    font-size: 30px;
    margin-left: 50px;
    margin-top:20px;
    color:rgba(59, 59, 58, 0.904);
 }
 .roarmedia5 a span{
    font-weight: 500;
    float: right;
    margin-top: 25px;
    margin-right: 12px;
    color:rgba(59, 59, 58, 0.904);
 }
.header{
    width:100%;
    height: 50px;
    box-shadow: 0px 5px 14px -12px;
}

    

.div1 {
    float:left;
    width:20%;
    
}
.div1 h2{
    margin-left:65px;
    margin-top:6px;
}
.div2{
    float:left;
    text-align:center;
    width:80%;
    margin-top:15px;
    
}
.div2 a{
    text-align:center;
    text-decoration:none;
    margin-left:25px;
    color: rgb(155, 155, 155);
     font-family: 'Nunito', sans-serif;
}
.div3 input{
 padding:5px;
 border-bottom:1px solid black;
 border-top:none;
 border-left:none;
 border-right:none;
}


.section{
    margin:0% 6%;
    margin-top:30px;
}
.section p{
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}
.sectiondiv1{
    width:100%;
    height:310px;
    
}
.sectiondiv1 a{
      text-decoration:none;
      color:black;  
}
.history1{
    width:260px;
    height:310px;
    float:left;
   
}
.history2{
    width:260px;
    height:310px;
    float:left;
    margin-left:50px;
}
.history3{
    width:260px;
    height:310px;
    float:left;
    margin-left:50px;
}
.history4{
    width:260px;
    height:310px;
    float:right;
    
}

.dateview3 {
margin-top: -25px;
}
.sectiondiv2 {
    width:100%;
    height:310px;
   
    margin-top:40px;
}
.sectiondiv2 a{
    text-decoration:none;
    color:black;  
}
.dateview5{
    margin-top:-25px;
}
.dateview8{
    margin-top:-25px;
}
.reload{
    margin-top:90px;
    color: rgb(174, 174, 178);
    font-size: 25px;
    cursor: pointer;
    text-align:center;
    height:60px;
}
.articlename{
    height:145px;
    
    margin:0% 6%;
   
}
.articlename h1{
    
    text-transform: capitalize;
}
.footer{
    width:100%;
    height:400px;
    
    background:black;
}
.newfooter{
    width:100%;
    height:400px;
    border:1px  solid white;
    background:black;
}
.footerdiv{
   
    margin-left:7%;
    margin-right:7%;
 
    height:300px;
   margin-top:30px;
    color:white;
}
.footerdiv1{
    width:29%;
    
    height:300px;
    float:left;
}
.footerdiv1 p{
    font-size:12px;
    line-height:1.5;
    color: rgb(174, 174, 178);
}
.icona {
    height:50px;
   
    margin-top: 45px;
}
.icona a{
    color:#636366;
    font-size:25px;
    margin-left:10px;
}
.icona a i.fas.fa-wifi {
    transform: rotate(45deg);
}
.copyright{
    margin-top:25px;
}
.footerdiv2{
    width:15%;
    
    height:300px;
    float:left;
    margin-left: 8%;

}
.footerdiv3{
    width:15%;
   
    height:300px;
    float:left;
    margin-left: 7%;
}
.footerdiv4{
    width:25%;
   
    height:300px;
    float:left;
   

}
.footerdiv4 input{
    padding: 10px;
    width: 253px;
    border-radius: 10px;
    background: #3A3A3C;
    border: none;
}
.footerdiv4 button{
    padding: 7px 20px;
    width: 274px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border: none;
}
.about a{
    font-size:12px;
    color:white;
    text-decoration:none;
}
.aboutmedia{
    padding:15px 0px;
    
}
.Contact a{
    font-size:12px;
    color:white;
    text-decoration:none;
}
.aboutmedia a{
    font-size:12px;
    color:white;
    text-decoration:none;
}
.Terms a{
    font-size:12px;
    color:white;
    text-decoration:none;
}
.footerdiv4 p{
    font-size:12px;
    line-height:1.5;
    color: rgb(174, 174, 178);
}
.footerdiv4 a{
    font-size:12px;
    color:white;
    text-decoration:none;
}